@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

@*<p>@ViewBag.Message</p>*@

@foreach(string Line in ViewBag.Messages){
    <p>
        @if(Line.Contains("http"))
        {
            <strong><a href=@Line>@Line</a></strong>
        }
        else
        {
            @Line
        }
    </p>
}
