@using (Html.BeginForm("RegisterForForums", "LoggedInHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p style="font-family:Arial; font-size:small; font-weight:600">
        This will register you with our Forums. When you have completed this step, you will be able to access R3MUS Forums using the link at the top of the page.
    </p>
    <fieldset>
        <input type="submit" value="Register" class="btn btn-default" />
    </fieldset>
}
