@using (Html.BeginForm("RegisterForSlack", "LoggedInHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p style="font-family:Arial; font-size:small; font-weight:600">
        When you have registered using the button below, an email will be sent to the email address you used to register with this website. Please follow the instructions in that email to continue.
        <br /> <br />
        When you have completed this step, you will be able to access R3MUS Slack using the link under "Services" at the top of the page.
    </p>
    <fieldset>
        <input type="submit" value="Register" class="btn btn-default" />
    </fieldset>
}

