@if (User.IsInRole("Admin") || User.IsInRole("Director") || User.IsInRole("CEO"))
{
    
    <li class="dropdown" id="adminMenuLi" onmouseover="adminMenu_MouseOver()" onmouseout="adminMenu_MouseOut()">
        <a href="#" class="dropdown-toggle" onmouseover="adminDropdown()" data-toggle="dropdown">Website Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" id="adminMenu" onmouseover="adminMenu_MouseOver()" onmouseout="adminMenu_MouseOut()">
            <li>@Html.ActionLink("User Admin", "ViewUsers", "WebsiteAdmin")</li>
            <li>@Html.ActionLink("Forum Admin", "AdminIndex", "Forum")</li>
        </ul>
    </li>

    <script type="text/javascript">

        function adminMenu_MouseOver() {
            if (($("#adminMenuLi").is(":hover") == true) || ($("#adminMenu").is(":hover") == true)) {
                $('#adminMenu').finish().slideDown('fast');
            }
        }

        function adminMenu_MouseOut() {
            $('#adminMenu').finish().slideUp('fast');
        }

    </script>

}