<li>@Html.ActionLink("Training", "RedirectToMoodle", "LoggedInHome")</li>
@*@if(User.IsInRole("Admin"))
{ 
<li>@Html.ActionLink("Forums", "Index", "Forum")</li>
}*@

@{Html.RenderPartial("_RecruitmentMenu");}
@{Html.RenderPartial("_IntServicesMenu");}
@{Html.RenderPartial("_ServicesMenu");}
@{Html.RenderPartial("_AdminMenu");}

