<li class="dropdown" id="servicesMenuLi" onmouseover="servicesMenu_MouseOver()" onmouseout="servicesMenu_MouseOut()">
    <a href="#" class="dropdown-toggle" onmouseover="servicesDropdown()" data-toggle="dropdown">Services <span class="caret"></span></a>
    <ul class="dropdown-menu" id="servicesMenu" onmouseover="servicesMenu_MouseOver()" onmouseout="servicesMenu_MouseOut()">
        <li><a href="https://r3mus.slack.com">Slack</a></li>
        <li><a href="http://www.nerfedalliance.com/">NAGA</a></li>
        <li><a href="http://intel.bravecollective.com/">BRAVE Intel</a></li>
        <li><a href="http://fleet-up.com/Home/Index">Fleet-Up</a></li>
    </ul>
</li>

<script type="text/javascript">

    function servicesMenu_MouseOver() {
        if (($("#servicesMenuLi").is(":hover") == true) || ($("#servicesMenu").is(":hover") == true)) {
            $('#servicesMenu').finish().slideDown('fast');
        }
    }

    function servicesMenu_MouseOut() {
        $('#servicesMenu').finish().slideUp('fast');
    }

</script>
 
