<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="r3mus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=r3mus_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RecruitmentStatEntities" connectionString="metadata=res://*/Models.LastWeeksSubmissionStats.csdl|res://*/Models.LastWeeksSubmissionStats.ssdl|res://*/Models.LastWeeksSubmissionStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=r3mus_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicantEntities" connectionString="metadata=res://*/Models.ApplicantList.csdl|res://*/Models.ApplicantList.ssdl|res://*/Models.ApplicantList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=r3mus_DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserRoleEntities" connectionString="metadata=res://*/Models.UserRole.csdl|res://*/Models.UserRole.ssdl|res://*/Models.UserRole.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=r3mus_DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="r3mus_MonthRecruitmentStatEntities" connectionString="metadata=res://*/Models.LastMonthStats.csdl|res://*/Models.LastMonthStats.ssdl|res://*/Models.LastMonthStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=r3mus_DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager enabled="true" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <r3mus.Properties.Settings>
      <setting name="CorpAPI" serializeAs="String">
        <value>4285630</value>
      </setting>
      <setting name="VCode" serializeAs="String">
        <value>hmZDX0Ptrvb33GscSJVfeRy6rogh06XcymVI9GdueMahoRxZDvh0lWsOeGiBaKbS</value>
      </setting>
      <setting name="MoodleToken" serializeAs="String">
        <value>a7c31796d590c338d13eecdf4c74ef42</value>
      </setting>
      <setting name="MoodleBaseURL" serializeAs="String">
        <value>training.r3mus.org</value>
      </setting>
      <setting name="TSURL" serializeAs="String">
        <value>r3mus.org</value>
      </setting>
      <setting name="TS_CorpGroup" serializeAs="String">
        <value>Wolf</value>
      </setting>
      <setting name="TS_AlliGroup" serializeAs="String">
        <value>Nagan</value>
      </setting>
      <setting name="TS_Password" serializeAs="String">
        <value>yKHcHIkT</value>
      </setting>
      <setting name="CorpTicker" serializeAs="String">
        <value>R3MUS</value>
      </setting>
      <setting name="AllianceTicker" serializeAs="String">
        <value>NAGA</value>
      </setting>
      <setting name="HipchatToken" serializeAs="String">
        <value>k05sP8cuu2MwPwBsXXXje0yJXRrxypE6q6SzlsQV</value>
      </setting>
      <setting name="SlackToken" serializeAs="String">
        <value>xoxp-4459251457-4460324675-7038754178-57f924</value>
      </setting>
      <setting name="SlackInviteURL" serializeAs="String">
        <value>http://r3mus.slack.com/api/users.admin.invite?email={0}&amp;channels=C04DH7DFR&amp;token={1}&amp;set_active=true&amp;_attempts=1</value>
      </setting>
      <setting name="RecruitmentRoomName" serializeAs="String">
        <value>recruitment</value>
      </setting>
      <setting name="Plugin" serializeAs="String">
        <value>Slack</value>
      </setting>
      <setting name="SlackWebhook" serializeAs="String">
        <value>https://hooks.slack.com/services/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</value>
      </setting>
      <setting name="NewApp_MessageFormatLine1" serializeAs="String">
        <value>New application received from {0} at {1}.</value>
      </setting>
      <setting name="AppUpdate_MessageFormatLine2" serializeAs="String">
        <value>Application from {0} was updated to {1} by {2} at {3}.</value>
      </setting>
      <setting name="ForumBaseURL" serializeAs="String">
        <value>localhost:9666</value>
      </setting>
      <setting name="LogisticsCorpAPI" serializeAs="String">
        <value>4425806</value>
      </setting>
      <setting name="LogisticsVCode" serializeAs="String">
        <value>sgzakeHa3MwhV7WmxQY3pH7ZGMbipr7xN1bqk5pgon7nv5ZjqFZ6ci4B49crp4Ke</value>
      </setting>
    </r3mus.Properties.Settings>
  </applicationSettings>
</configuration>