@{
    ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Out of Game Public Channel: </strong>
    <br/>
    <p><a class="btn btn-default" href="https://www.hipchat.com/gp2LCgtnC" onclick="window.open('https://www.hipchat.com/gp2LCgtnC', 'newwindow', 'width=800, height=500'); return false;">Chat &raquo;</a></p>
</address>

@*<address>
    <strong>Ingame Public Channel: </strong>Raised by Wolves Inc
</address>

<address>
    <strong>Teamspeak 3 Server: </strong>r3mus.org
</address>*@

<address>
    <strong>CEO: </strong>   <a href="mailto:vasenyo@r3mus.org">Vas Enyo</a><br />
</address>
<address>
    <strong>Webmaster / Director: </strong>   <a href="mailto:clydeenmarland@r3mus.org">Clyde en Marland</a><br />
</address>