<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Killbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="34317" value="Confessor" />
      <add key="34562" value="Svipul" />
      <add key="StartDate" value="2015-04-19 15:30:00" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Killbot.Properties.Settings>
            <setting name="CorpAPI" serializeAs="String">
                <value>4285630</value>
            </setting>
            <setting name="VCode" serializeAs="String">
                <value>hmZDX0Ptrvb33GscSJVfeRy6rogh06XcymVI9GdueMahoRxZDvh0lWsOeGiBaKbS</value>
            </setting>
            <setting name="MessageFormatLine1" serializeAs="String">
                <value>{0} {1} at {2}. </value>
            </setting>
            <setting name="MessageFormatLine3" serializeAs="String">
                <value>Last Blow: {0} in a {1}. </value>
            </setting>
            <setting name="MessageFormatLine4" serializeAs="String">
                <value>Wolf {0} got on the board in a {1}! </value>
            </setting>
            <setting name="Plugin" serializeAs="String">
                <value>Slack</value>
            </setting>
            <setting name="RoomName" serializeAs="String">
                <value>Kills</value>
            </setting>
            <setting name="HipchatToken" serializeAs="String">
                <value>k05sP8cuu2MwPwBsXXXje0yJXRrxypE6q6SzlsQV</value>
            </setting>
            <setting name="SlackWebhook" serializeAs="String">
                <value>https://hooks.slack.com/services/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</value>
            </setting>
            <setting name="MessageFormatLine2" serializeAs="String">
                <value>Victim: {0} lost a {1} in {2} ({3}). </value>
            </setting>
            <setting name="MessageFormatLine5" serializeAs="String">
                <value>Loss value: {0} ISK. </value>
            </setting>
            <setting name="MessageFormatLine6" serializeAs="String">
                <value>Kill Link: https://zkillboard.com/kill/{0}/</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CorpId" serializeAs="String">
                <value>919189056</value>
            </setting>
            <setting name="CorpTicker" serializeAs="String">
                <value>VO</value>
            </setting>
        </Killbot.Properties.Settings>
    </applicationSettings>
</configuration>